@import "../../styles/abstracts/variables.scss";

.opacity{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}
.opacityVisible{
  visibility: visible;

}
.mainContainerNavInfoChannel {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: $Black;
  width: 260px;
  top: 0;
  bottom: 0;
  right: 0;
  .containerCloseAndTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $White;
    padding: 17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    h3 {
      font-size: 18px;
      font-weight: 700;
    }
    span {
      cursor: pointer;
      display: flex;
      font-size: 24px;
      margin-right: 10px;
    }
  }
  .containerNavInfoChannel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px 0px 20px 0px;
    overflow-y: auto;
    
    &::-webkit-scrollbar{
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      background: $Black;        
    }
    &::-webkit-scrollbar-thumb {
      background-color: $Hover-Black;    
      border-radius: 20px; 
      border: 3px solid $Black;        
    }
    .containerTitleAndInfo {
      display: flex;
      flex-direction: column;

    }
    .containerMembers {
      display: flex;
      flex-direction: column;
      color: $White;
      .containerAddMember{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        h3 {
          font-size: 18px;
          font-weight: 700;
          line-height: 25px;
          letter-spacing: -0.035em;
          text-transform: uppercase;
        }
        span{
          display: flex;
          align-items: center;
          justify-content: center;
          color: $White;
          background-color: $Light-Black;
          border-radius: 10px;
          border: none;
          font-size: 24px;
          cursor: pointer;
          padding: 5px;
          svg{
            transition: all 0.3s;
          }
        }
        .iconAdd{
          svg{
            transform: rotate(135deg);
          }
        }
      }
      .containerInputSendInvitation{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-bottom: 10px;
        opacity: 0;
        top: 0;
        visibility: hidden;
        transition: opacity 0.3s ease ;
        z-index: -1;
        cursor: pointer;
        input{
          background-color: $Hover-Black;
          border: none;
          outline: none;
          padding: 10px;
          border-radius: 8px;
          width: 100%;
          margin-bottom: 5px;
          color: $Text-Black;
          font-size: 100%;
        }
        button{
          background-color: $Blue;
          color: $White;
          padding: 10px;
          border-radius: 8px;
          font-size: 16px;
          cursor: pointer;
          border: none;
        }
      }
      .containerInputSendInvitationVisible{
        opacity: 1;
        visibility: visible;
        position: relative;
        z-index: 1;
        .errorP{
          color: $Red;
          font-size: 14px;
          margin-bottom: 10px;
        }
        .containerLoader{
          position: absolute;
          top: -40px;
          left: 0;
          bottom: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .errorSendInvitation{
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }
    .containerInfoAndMembers{
        padding: 0 20px;
    }
    .mainContainerLeaveGroup{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      .containerLeaveGroup{
        display: flex;
        width: 100%;
        flex-direction: row;
        color: $Red;
        cursor: pointer;
        padding: 10px 20px;
        position: relative;
        &:hover{
          background-color: $Hover-Black;
        }
        p{
          font-size: 18px;
        }
        span{
          display: flex;
          align-items: center;
          margin-right: 10px;
          font-size: 24px;
        }
        .containerLoader{
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $Hover-Black;
          opacity: 0.8;;
        }
      }
    }
  }
}
.mainContainerNavInfoChannelVisibility{
  display: flex;
}
