@import '../../styles/abstracts/variables.scss';

.mainContainerModalChannel{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    .containerImgChannel{
        display: flex;
        background-color: $Hover-Black;
        margin-right: 10px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 700;
        width: 47px;
        height: 47px;
        align-items: center;
        justify-content: center;
        border: 1px solid $Hover-Black;
        .imgModalChannel{
            width: 100%;
            height: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
    }
    p{
        color: $Text-Black;
        font-size: 18px;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

    }
}