@import '../../styles/abstracts/variables.scss';

.mainContainerBigLoaderChatGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $Black;
    p{
        color: $White;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    img{
        width: 150px;
        margin-bottom: 20px;
    }

}